<section class="outer">
  <div class="inner call-to-action">
    {{> "icons/cards" }}
    <div class="call-to-text">
      <h2>Redo för att lära dig mer?</h2>
      <p>
        Varje vecka delar vi information om krypto och det senaste nyheterna
        från DeFi-världen. Klicka på subscribe för att få tillgång till vårt
        nyhetsbrev.
      </p>
      <a href="#/portal/signup">Subscribe</a>
    </div>
  </div>
</section>
