<section class="landing-info">
  <div class="landing-info-text">
    <h1>Sveriges web3 community</h1>
    {{!-- <h1>Tillsammans lär vi oss att navigera i kryptovärlden</h1> --}}
    <p>
      Tillsammans lär vi oss att navigera i kryptovärlden och får betalt under tiden.
    </p>

      {{!-- Tillsammans lär vi oss att navigera i en ny digital värld: web3, Metaverse, NFTs, krypto, blockkedjor... och får betalt under tiden. --}}

      {{!-- Idag ser vi en ny digital värld under utveckling. Allt pekar mot att
      teknologier såsom Web3, Metaverse, NFTs, krypto och blockkedjor kommer att
      växa sig allt större i framtiden. Bankless.se är ett community för dig som
      vill lära dig mer och utforska den världen - och kanske hjälpa till att
      forma den. --}}
      <ul>
        <li><span>Få ditt första web3 jobb</span></li>
        <li><span>+100 svenska medlemmar</span></li>
        <li><span>Gratis utbildning</span></li>
      </ul>
      {{!-- <br> --}}
      <p></p>
    <a href="https://discord.gg/wXm5rJnB2f">Joina vår Discord</a>
    <a class="button-secondary" href="https://discord.gg/wXm5rJnB2f">Börja jobba</a>
  </div>
  {{> "icons/cards" }}
</section>
