<section class="inner landing-info">
  <div class="landing-info-text">
    <h1>Tillsammans lär vi oss att navigera i kryptovärlden</h1>
    <p>
      Idag ser vi en ny digital värld under utveckling. Allt pekar mot att
      teknologier såsom Web3, Metaverse, NFTs, krypto och blockkedjor kommer att
      växa sig allt större i framtiden. Bankless.se är ett community för dig som
      vill lära dig mer och utforska den världen - och kanske hjälpa till att
      forma den.
    </p>
  </div>
  {{> "icons/cards" }}
</section>
