<section id="landing-sub-info">
  <div class="inner landing-sub-info">
    <h1>Vad Bankless egentligen handlar om</h1>
    <p>
      Dagens innovativa teknologier har förändrat hur människor världen över
      kommunicerar och delar information, men även hur produkter och tjänster
      utvecklas, köps och säljs. Idag är mycket knutet till ett fåtal företag
      eller institutioner där vi som användare har väldigt lite inflytande.
    </p>
    <p>
      Genom Web3, Metaverse, NFTs, blockkedjor och kryptovalutor skapas ett
      globalt decentraliserat nätverk där alla människor deltar på lika villkor.
      Den här världen växer fram och utvecklas vid sidan av det traditionella
      centraliserade finanssystemet.
    </p>
    <a href="/om-oss/">Vilka är vi?</a>
  </div>
</section>
